body{
    font-family: "Jost", sans-serif;
}
.poppins{
    font-family: "Poppins" ;
}
.Satisfy_c{
    font-family: "Satisfy", cursive;
}
.Satisfy_ss{
    font-family: "Poppins", sans-serif;
}
.playfair-display{
    font-family: "Playfair Display", serif;}
.satisfy-regular {
    font-family: "Satisfy", cursive;}
